@import "~antd/dist/antd.css";

.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.app-component {
  padding: 2rem;
  text-align: center;
}

.book-cover {
  height: 192px;
  width: 128px;
  margin: 0 auto;
}

/* STYLES FOR LIBRARY */
.lib-search-results {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  overflow-x: auto;
}
.library-search {
  text-align: center;
  padding: 1rem;
}

/* STYLES FOR INVENTORY */
/* .inventory {
  text-align: center;
} */
.inventory-title {
  /* text-align: center; */
}
.inventory-list {
  padding: 0 15rem;
  /* text-align: center; */
}
